@import '~office-ui-fabric-react/dist/sass/References.scss';

.todo {

  .complete {
    text-decoration: line-through;
  }

  .title {
    @include ms-font-xl;
  }


  .todoList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .listItem {
      clear: left;
      padding-bottom: 20px;
      border-bottom: solid 1px #eee;

      .status {
        margin-top: 10px;
        height: 20px;
      }
    }
  }
}

.hoverCard {
  margin: 10px;

  .assignedTo {
    font-weight: bold;
    margin-bottom: 5px;
  }
}